@using Radyalabs.Core.Helper

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutBody.cshtml";
}

@section PageStyle{
    <link rel="stylesheet" type="text/css" href="@SiteHelper.GetBaseUrl()Assets/admin/pages/css/error.css" />
}

<body class="page-404-full-page">
    <div class="row">
        <div class="col-md-12 page-404">
            <div class="number">
                404
            </div>
            <div class="details">
                <h3>Oops! You're lost.</h3>
                <p>
                    We can not find the page you're looking for.
                </p>
                <a class="btn btn-default" href="@SiteHelper.GetBaseUrl()">Return home</a>
            </div>
        </div>
    </div>
</body>